/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size:15px;
  font-family: 'Overpass', sans-serif;
  background:black;
}

section{
  background-color:hsl(213, 19%, 18%);
  width:28%;
  margin:100px auto;
  padding: 7% 2%;
  border-radius: 7%;
}

h1 {
  font-weight:700;
  color:white;
  margin-bottom:3%;
}

p {
  margin-top:0;
  color:hsl(217, 12%, 63%);
  line-height:170%;
}
.orange{
  background-color:hsl(25, 97%, 53%);
  text-transform:uppercase;
  color:white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
