/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size:15px;
  font-family: 'Overpass', sans-serif;
  background:black;
}

section{
  background-color:hsl(213, 19%, 18%);
  background: linear-gradient(180deg, hsl(213, 19%, 18%) 0%, hsl(216, 12%, 8%) 100%);
  width:28%;
  margin:100px auto;
  padding: 2% 2%;
  border-radius: 7%;
  height:450px;
}

h1 {
  font-weight:700;
  color:white;
  margin-bottom:3%;
}

p {
  margin-top:0;
  color:hsl(217, 12%, 63%);
  line-height:170%;
}
.rating{
  border-radius:100%;
  background: hsl(213, 19%, 18%);
  color:hsl(217, 12%, 63%);
  height:50px;
  width:50px;
  margin-top: 3%;
  border:none;
  margin-left: 15px;
  margin-right: 2px;
}

.star{
    margin-top:10px;
    border-radius:100%;
    background: hsl(213, 19%, 18%);
    height:50px;
    width:50px;
    border:none;
    overflow:hidden;
    margin-bottom:10%;

}

.starIcon{
  display:block;
  margin:35% auto;
}


.rating:hover {
  background:hsl(217, 12%, 63%);
  color:white;
  cursor:pointer;
}

.rating:active {
  background-color:hsl(25, 97%, 53%);
  color:white;
  cursor:pointer;
}

.orange{
  background-color:hsl(25, 97%, 53%);
  text-transform:uppercase;
  letter-spacing:1.5px;
  color:white;
  display:block;
  margin:10% auto;
  width:100%;
  padding: 10px 20px;
  border-radius:50px;
  height:50px;
}

.rateDiv{
  margin-right:10px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
